* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    margin: auto;
    background-color: #1D1F21;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    color: #c5c8c6;
    height: 100%;
}

header {
    color: #4183F6;
    text-align: center;
    padding: 75px 0px;
}

#title {
    letter-spacing: -1px;
    line-height: 100%;
    padding-bottom: 1em;
}

#subtitle {
    font-size: 50%;
    color: #c5c8c6;
    margin: 0.25em;
}

div.container {
    text-align: center;
    font-size: 50%;
    width: 50%;
    margin: auto;
    min-width: 290px;
}

#bar {
    padding-bottom: 50px;
}

.bsection {
    box-sizing: border-box;
    border-left: 1px solid #c5c8c6;
    width: 25%;
    height: 25px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btitle {
    text-decoration: none;
    color: #4183F6;
}

.bcurrent {
    background-color: #3D3F41;
}

.tsection {
    box-sizing: border-box;
    border-left: 1px solid #c5c8c6;
    width: 25%;
    height: 300px;
    float: left;
}

.ttitle {
    margin: 2px;
    padding-bottom: 1em;
}

.tright {
    border-right: 1px solid #c5c8c6;
}

.ttop {
    border-top: 1px solid #c5c8c6;
}

.tbot {
    border-bottom: 1px solid #c5c8c6;
}

.tnoleft {
    border-left: none;
}

#main a {
    color: #4183F6;
    line-height: 1.5em; 
}

.tlinks a:after {
    content: "";
    display: block;
    height: 0.75em;
    width: 1px;
}

#clear {
    clear: both;
}

#fbr {
    line-height: 25px;
}

#freedomain {
    color: #c5c8c6;
    text-decoration: none;
}

footer img {
    -webkit-filter: invert(1);
    filter: invert(1);
    opacity: 0.5;
}

footer {
    font-size: 50%;
    text-align: center;
    
    position: absolute;
    bottom: 0;
    width: 100%;
}